node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.envrc
.vscode
test-results
playwright/
playwright-report
feature_worktrees/
CLAUDE.md
.container-use

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
**/test-results.json

specs
